@font-face {
  font-family: 'arima';
  src: url('../fonts/arimamadurai-black-webfont.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'arima';
  src: url('../fonts/arimamadurai-extrabold-webfont.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'arima';
  src: url('../fonts/arimamadurai-bold-webfont.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'arima';
  src: url('../fonts/arimamadurai-medium-webfont.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'arima';
  src: url('../fonts/arimamadurai-regular-webfont.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'arima';
  src: url('../fonts/arimamadurai-light-webfont.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;

}

@font-face {
  font-family: 'arima';
  src: url('../fonts/arimamadurai-extralight-webfont.woff2') format('woff2');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'arima';
  src: url('../fonts/arimamadurai-thin-webfont.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
}