:root{
    --table-border-radius: 3px;
}

/* Disable text select */
.noselect {
    /* iOS Safari */
    -webkit-touch-callout: none;
    /* Safari */
    -webkit-user-select: none;
    /* Konqueror HTML */
    -khtml-user-select: none;
    /* Old versions of Firefox */
    -moz-user-select: none;
    /* Internet Explorer/Edge */
    -ms-user-select: none;
    /* Non-prefixed version, currently */
    user-select: none;
}

body{
    background-color: var(--background-main);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
    color: var(--text-main);
    /* overflow: hidden; */
}

a:visited{
    color: var(--text-main);
}
